{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Reinitialisez votre mot de passe{% endblock %}

{% block body %}
    <h1 class="is-size-1 has-text-centered py-5">Reinitialisez votre mot de passe</h1>

    <div class="content">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                {% for flash_error in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}


                {{ form_start(requestForm) }}
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            {{ form_widget(requestForm.email, {'attr': {'class': 'input'}}) }}
                        </div>
                    </div>

                    <div>
                        <small>
                            Entrez votre adresse mail et nous vous enverrons un lien pour reinitialiser votre mot de passe
                        </small>
                    </div>

                    <div class="has-text-centered mt-5">
                        <button class="button is-info">Reinitialisation</button>
                    </div>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
{% endblock %}
