{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Ajouter une ville
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="is-size-3 is-size-1-tablet has-text-centered my-5">Ajouter une ville</h1>

    <div class="content">
        <div class="columns mx-2">
            <div class="column is-three-fifths is-offset-one-fifth">

                {{ form_start(cityForm) }}

                <div class="field">
                    <label class="label">Ville</label>
                    <div class="control">
                        {{ form_widget(cityForm.name, {'attr': {'class': 'input'}}) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Code postal</label>
                    <div class="control">
                        {{ form_widget(cityForm.postalCode, {'attr': {'class': 'input'}}) }}
                    </div>
                </div>

                <div class="has-text-centered">
                    <button class="button is-info">Ajouter</button>
                    <a href="javascript:history.go(-1)" class="button is-info">Retour</a>
                </div>

                {{ form_end(cityForm) }}

            </div>
        </div>
    </div>
</div>


{% endblock %}