{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion des villes
{% endblock %}

{% block body %}
    <h1 class="is-size-3 is-size-1-tablet has-text-centered my-5">Gestion des villes</h1>

    <div class="content">
        <div class="columns">
            <div class="column">

                {{ form_start(filterForm) }}

                    <div class="columns mx-2">
                        <div class="column is-three-fifths is-offset-one-fifth">
                            {{ form_widget(filterForm.search, {'attr': {'class': 'input', 'placeholder': 'Nom du lieu'}}) }}
                        </div>
                    </div>

                    <div class="has-text-centered p-3">
                        <button class="button is-info">Rechercher</button>
                    </div>


                {{ form_end(filterForm) }}

                <div class="columns">
                    <div class="column is-10-desktop is-offset-1-desktop">
                        <div class="table-container">
                            <table class="table is-striped center">
                                <thead>
                                <tr>
                                    <th class="has-text-centered">Ville</th>
                                    <th class="has-text-centered">Code postal</th>
                                    <th class="has-text-centered">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for city in cities %}
                                    <tr>
                                        <td class="has-text-centered">{{ city.name }}</td>
                                        <td class="has-text-centered">{{ city.postalCode }}</td>
                                        <td>
                                            <div class="buttons is-centered">
                                                <a class="button" href="{{ path('admin_edit_city', {'id': city.id}) }}">Modifier</a>
                                                <a class="button" href="{{ path('admin_delete_city', {'id': city.id}) }}">Supprimer</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="has-text-centered">
                    <a href="{{ path('admin_add_city') }}" class="button is-info">Ajouter une ville</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}