{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Modifier un lieu
{% endblock %}

{% block body %}
    <h1 class="is-size-3 is-size-1-tablet has-text-centered my-5">Modifier un lieu</h1>

    <div class="content">
        <div class="columns mx-2">
            <div class="column is-three-fifths is-offset-one-fifth">

                {{ form_start(placeForm) }}

                <div class="field">
                    <label class="label">Ville</label>
                    <div class="control">
                        {{ form_widget(placeForm.city, {'attr': {'class': 'input'}}) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Nom</label>
                    <div class="control">
                        {{ form_widget(placeForm.name, {'attr': {'class': 'input'}}) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Rue</label>
                    <div class="control">
                        {{ form_widget(placeForm.street, {'attr': {'class': 'input'}}) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Latitude</label>
                    <div class="control">
                        {{ form_widget(placeForm.latitude, {'attr': {'class': 'input'}}) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Ville</label>
                    <div class="control">
                        {{ form_widget(placeForm.longitude, {'attr': {'class': 'input'}}) }}
                    </div>
                </div>

                <div class="has-text-centered">
                    <button class="button is-info">Modifier</button>
                    <a href="javascript:history.go(-1)" class="button is-info">Retour</a>
                </div>

                {{ form_end(placeForm) }}

            </div>
        </div>
    </div>


{% endblock %}