{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion des lieux
{% endblock %}

{% block body %}
    <h1 class="is-size-1 has-text-centered my-5">Gestion des lieux</h1>

    <div class="content">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">

                {{ form_start(filterForm) }}

                    <div class="p-2">
                        {{ form_widget(filterForm.search, {'attr': {'class': 'input', 'placeholder': 'Nom du lieu'}}) }}
                    </div>

                    <div class="has-text-centered p-3">
                        <button class="button is-info">Rechercher</button>
                    </div>


                {{ form_end(filterForm) }}

                <table class="table is-striped is-fullwidth">
                    <thead>
                    <tr>
                        <th>Ville</th>
                        <th>Code postal</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for place in places %}
                        <tr>
                            <td>{{ place.name }}</td>
                            <td>{{ place.postalCode }}</td>
                            <td>
                                <a href="{{ path('admin_edit_place', {'id': place.id}) }}">Modifier</a>
                                |
                                <a class="is-info" href="{{ path('admin_place_delete', {'id': place.id}) }}">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="has-text-centered">
                    <a href="{{ path('admin_places_add') }}" class="button is-info">Ajouter un lieu</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}