{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion des sites
{% endblock %}

{% block body %}
    <h1 class="is-size-3 is-size-1-tablet has-text-centered my-5">Gestion des sites</h1>

    <div class="content">

        {{ form_start(filterForm) }}

        <div class="columns mx-2">
            <div class="column is-three-fifths is-offset-one-fifth">
                {{ form_widget(filterForm.search, {'attr': {'class': 'input', 'placeholder': 'Nom du site'}}) }}
            </div>
        </div>

        <div class="has-text-centered p-3">
            <button class="button is-info">Rechercher</button>
        </div>


        {{ form_end(filterForm) }}

        <div class="columns">
            <div class="column is-10-desktop is-offset-1-desktop">
                <div class="table-container">
                    <table class="table is-striped is-fullwidth">
                        <thead>
                        <tr>
                            <th>Ville</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for site in sites %}
                            <tr>
                                <td>{{ site.name }}</td>
                                <td>
                                    <div class="buttons">
                                        <a class="button" href="{{ path('admin_site_edit', {'id': site.id}) }}">Modifier</a>
                                        {% set cantDelete = false %}
                                        {% for participant in participant %}
                                            {% if site.id == participant.id %}
                                                {% set cantDelete = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {%  if cantDelete == false  %}
                                            <a class="button" href="{{ path('admin_site_delete', {'id': site.id}) }}"> | Supprimer</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="has-text-centered">
            <a href="{{ path('admin_sites_add') }}" class="button is-info">Ajouter un site</a>
        </div>

    </div>
{% endblock %}