{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion des utilisateurs
{% endblock %}

{% block body %}
    <h1 class="is-size-1 has-text-centered my-5">Gestion des utilisateurs</h1>

    <div class="content">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">

{#                {{ form_start(filterForm) }}#}

{#                <div class="p-2">#}
{#                    {{ form_widget(filterForm.search, {'attr': {'class': 'input', 'placeholder': 'Nom du lieu'}}) }}#}
{#                </div>#}

{#                <div class="has-text-centered p-3">#}
{#                    <button class="button is-info">Rechercher</button>#}
{#                </div>#}


{#                {{ form_end(filterForm) }}#}

                <table class="table is-striped is-fullwidth">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Pseudo</th>
                        <th>Site</th>
                        <th>Numéro de téléphone</th>
                        <th>Adresse mail</th>
                        <th>Rôle</th>
                        <th>Actif</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.pseudo }}</td>
                            <td>{{ user.site.name }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% for role in user.roles %}
                                    {{ role }}
                                {% endfor %}
                            </td>
                            <td>{{ user.active == '1' ? 'Oui' : 'Non' }}</td>
                            <td>
                                Rendre inactif
{#                                <a href="{{ path('admin_edit_place', {'id': place.id}) }}">Modifier</a>#}
                                {#                                |#}
                                {#                                <a class="is-info" href="{{ path('admin_place_delete', {'id': place.id}) }}">Supprimer</a></td>#}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="has-text-centered">
                    <a href="{{ path('admin_add') }}" class="button is-info">Ajouter un utilisateur</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}