{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | detail activity {{ activity.name }}
{% endblock %}

{% block body %}
<h1 class="is-size-3 is-size-1-tablet has-text-centered my-5">Détail de l'activité</h1>

<div class="container">
    <div class="content">
        <div class="columns mx-2">
            <div class="column">
                <p><strong>Nom de la sortie :</strong> {{ activity.name }}</p>
                <p><strong> Date et heure de la sortie :  </strong> {{ activity.activityDate | date('d-m-Y') }} à {{ activity.activityDate | date('H:i:s') }} </p>
                <p><strong> Date limite d'inscription :  </strong> {{ activity.subLimitDate | date('d-m-Y') }}</p>
                <p><strong>Nombre de places :  </strong> {{  activity.placeLimit }}</p>
                <p><strong>Durée : </strong> {{ activity.duration}} minutes </p>
                <p><strong>Description et infos :  </strong> {{ activity.informations }} </p>
            </div>
            <div class="column is-half">
                <p><strong>lieu :  </strong> {{ activity.place.name }}</p>
                <p><strong>Rue :  </strong> {{ activity.place.street }}</p>
                <p><strong>Ville :  </strong> {{ activity.place.city.name }}</p>
                <p><strong>Code postal :  </strong> {{ activity.place.city.postalCode }}</p>
                <p><strong>Latitude :  </strong> {{  activity.place.latitude }}</p>
                <p><strong>Longitude :  </strong> {{ activity.place.longitude}}  </p>
            </div>
        </div>

        <p class="is-size-4 is-size-2-tablet has-text-centered has-text-centered">Participant.e.s</p>
        <div class="table-container">
            <table class="table is-fullwidth is-striped">
                <thead class="thead">
                    <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in activity.participants %}
                    <tr>
                        <td>
                            <a href="{{ path('participant_detail', {'id': user.id}) }}">{{ user.pseudo }} </a>
                        </td>
                        <td> {{ user.lastname }} </td>
                        <td> {{ user.firstname }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="has-text-centered">
            <a href="javascript:history.go(-1)" class="button is-info">Retour</a>
        </div>
    </div>
</div>
{% endblock %}



