{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Show activities
{% endblock %}

{% block body %}

  <h1 class="is-size-1 has-text-centered my-5">Liste des activités</h1>

  <div class="content">

    <div class="columns mb-5">
      <div class="column is-size-4 has-text-centered">
        <p>Date du jour : {{ 'now' | date('j F Y') | format_date(locale='fr') }}</p>
      </div>
    </div>

    {{ form_start(filterForm) }}

    <div class="columns">
      <div class="column is-5">

        <div class="is-flex is-justify-content-center">

          <div class="p-2">
            <div class="select">
              {{ form_widget(filterForm.site) }}
            </div>
          </div>
          <div class="p-2">
            {{ form_widget(filterForm.search, {'attr': {'class': 'input', 'placeholder': 'Nom de la sortie'}}) }}
          </div>

        </div>

        <div class="is-flex is-justify-content-center">
          <div class="field p-2">
            <label class="label">Date de l'activité entre le</label>
            <div class="control">
              {{ form_widget(filterForm.startDate, {'attr': {'class': 'input'}}) }}
            </div>
          </div>
          <div class="field p-2">
            <label class="label">et le</label>
            <div class="control">
              {{ form_widget(filterForm.endDate, {'attr': {'class': 'input'}}) }}
            </div>
          </div>
        </div>

      </div>
      <div class="column is-5">

        <div class="is-flex is-flex-direction-column">
          <label class="checkbox">
            {{ form_widget(filterForm.isOrganizer) }}
            Sorties dont je suis l'organisateur/trice
          </label>

          <label class="checkbox">
            {{ form_widget(filterForm.isParticipant) }}
            Sorties auxquelles je suis inscrit/e
          </label>

          <label class="checkbox">
            {{ form_widget(filterForm.isNotParticipant) }}
            Sorties auxquelles je ne suis pas inscrit/e
          </label>

          <label class="checkbox">
            {{ form_widget(filterForm.pastActivities) }}
            Sorties passées
          </label>
        </div>

      </div>
    </div>

    <div class="has-text-centered p-3">
      <button class="button is-info">Rechercher</button>
    </div>


    {{ form_end(filterForm) }}

    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">

          <table class="table is-striped is-fullwidth">
            <thead>
              <tr>
                <th><abbr title="Nom de la sortie">Nom</abbr></th>
                <th><abbr title="Date de la sortie">Date</abbr></th>
                <th>Clotûre</th>
                <th><abbr title="Nombre d'inscrits / places">Place</abbr></th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for activity in activities %}
              <tr>
                <td>{{ activity.name }}</td>
                <td>{{ activity.activityDate | date('j F Y') | format_date(locale='fr') }}</td>
                <td>{{  activity.subLimitDate | date('j F Y') | format_date(locale='fr') }}</td>
                <td>{{ activity.participants.count }} / {{ activity.placeLimit }}</td>
                <td>{{ activity.state.label }}</td>
                <td>{{ app.user in activity.participants ? 'Oui' : 'Non' }}</td>
                <td><a class="is-info" href="{{ path('participant_detail', {'id': activity.organizer.id}) }}">{{ activity.organizer.firstname }} {{ activity.organizer.lastname }}</a></td>
                <td>
                  {% if app.user == activity.organizer and activity.state.label == states['created'] %}
                      <a href="{{ path('activity_edit', {'id': activity.id}) }}">Modifier</a>
                  {% else %}
                    <a class="is-info" href="{{ path('activity_detail', {'id': activity.id}) }}">Afficher</a>
                  {% endif%}

                  {% if activity.state.label in [states['open'], states['closed']] %}
                    {% if app.user == activity.organizer %}
                      <a class="is-info" href="{{ path('activity_cancel', {'id': activity.id}) }}">Annuler</a>
                    {% elseif app.user in activity.participants %}
                      <a href="{{ path('activity_unsubscribe', {'activityId': activity.id}) }}">Se désister</a>
                    {% elseif activity.state.label == states['open'] %}
                      <a href="{{ path('activity_subscription', {'activityId': activity.id}) }}">S'inscrire</a>
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <div class="has-text-centered">
            <a href="{{ path('activity_add') }}" class="button is-info">Créer une activité</a>
          </div>
      </div>
    </div>
  </div>
{% endblock %}