{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Show activities
{% endblock %}

{% block body %}
    <h1 class="is-size-3 is-size-1-tablet has-text-centered my-5">Liste des activités</h1>

    <div class="content">

        <div class="columns mb-4">
            <div class="column is-size-5 is-size-4-tablet has-text-centered">
                <p>Date du jour : {{ 'now' | date('j F Y') | format_date(locale='fr') }}</p>
            </div>
        </div>

        <div class="columns has-text-centered is-mobile is-hidden-desktop">
            <div class="column">
                <button class="button is-small" id="buttonFilters">Filtrer</button>

                {% if activitiesNotPublish | length > 0 %}
                    <a class="button is-small is-warning is-light" href="{{ path('activity_management') }}">
                        <span class="badge is-warning">{{ activitiesNotPublish | length }}</span>
                        Sortie(s) non-publiée(s)
                    </a>
                {% endif %}
            </div>

        </div>

        <div class="columns has-background-link-light is-block-desktop" id="filters">

            <div class="column">
                {{ form_start(filterForm) }}

                <div class="mx-2 p-2">
                    <div class="columns is-desktop">

                        <div class="column is-3-desktop is-offset-1-desktop">
                            <div class="columns">
                                <div class="column">
                                    <div class="field">
                                        <div class="select is-fullwidth">
                                            {{ form_widget(filterForm.site) }}
                                        </div>
                                    </div>
                                    <div class="field">
                                        {{ form_widget(filterForm.search, {'attr': {'class': 'input', 'placeholder': 'Nom de la sortie'}}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column">
                                    <div class="field">
                                        <label class="label">Eentre le</label>
                                        <div class="control">
                                            {{ form_widget(filterForm.startDate, {'attr': {'class': 'input'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label class="label">et le</label>
                                        <div class="control">
                                            {{ form_widget(filterForm.endDate, {'attr': {'class': 'input'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-4-desktop is-flex-desktop is-justify-content-center is-align-items-center">
                            <div class="columns is-gapless is-block-desktop">
                                <div class="column is-flex-desktop is-flex-direction-column">
                                    <label class="checkbox">
                                        {{ form_widget(filterForm.isOrganizer) }}
                                        Sorties dont je suis l'organisateur/trice
                                    </label>

                                    <label class="checkbox">
                                        {{ form_widget(filterForm.isParticipant) }}
                                        Sorties auxquelles je suis inscrit/e
                                    </label>
                                </div>
                                <div class="column is-flex-desktop is-flex-direction-column">
                                    <label class="checkbox">
                                        {{ form_widget(filterForm.isNotParticipant) }}
                                        Sorties auxquelles je ne suis pas inscrit/e
                                    </label>

                                    <label class="checkbox">
                                        {{ form_widget(filterForm.pastActivities) }}
                                        Sorties passées
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="column is-3-desktop is-offset-1-desktop is-flex-desktop is-justify-content-center is-align-items-center">
                            <div class="has-text-centered">
                                <button class="button is-small is-info is-hidden-desktop">Rechercher</button>
                                <button class="button is-info is-block-desktop-only is-hidden-tablet-only is-hidden-mobile m-2">Rechercher</button>
                                {% if activitiesNotPublish | length > 0 %}
                                    <a class="button is-warning is-light is-block-desktop-only is-hidden-tablet-only is-hidden-mobile m-2" href="{{ path('activity_management') }}">
                                        <span class="badge is-warning">{{ activitiesNotPublish | length }}</span>
                                        Sortie(s) non-publiée(s)
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>


                {{ form_end(filterForm) }}
            </div>

        </div>

        <div class="columns">
            <div class="column is-10-desktop is-offset-1-desktop">

                <div class="table-container">
                    <table class="table is-striped is-fullwidth">
                        <thead>
                        <tr>
                            <th><abbr title="Nom de la sortie">Nom</abbr></th>
                            <th><abbr title="Date de la sortie">Date</abbr></th>
                            <th>Clotûre</th>
                            <th><abbr title="Nombre d'inscrits / places">Place</abbr></th>
                            <th>Etat</th>
                            <th>Inscrit</th>
                            <th>Organisateur</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for activity in activities %}
                            <tr>
                                <td>{{ activity.name }}</td>
                                <td>{{ activity.activityDate | format_datetime(pattern='dd MMMM yyyy HH:mm', locale='fr') }}</td>
                                <td>{{ activity.subLimitDate | format_datetime(pattern='dd MMMM yyyy HH:mm', locale='fr') }}</td>
                                <td>{{ activity.participants.count }} / {{ activity.placeLimit }}</td>
                                <td>{{ activity.state.label }}</td>
                                <td>{{ app.user in activity.participants ? 'Oui' : 'Non' }}</td>
                                <td><a class="is-info" href="{{ path('participant_detail', {'id': activity.organizer.id}) }}">{{ activity.organizer.firstname }} {{ activity.organizer.lastname }}</a>
                                </td>
                                <td>
                                    <div class="buttons">
                                    {% if app.user == activity.organizer and activity.state.label == states['created'] %}
                                        <a class="button" href="{{ path('activity_edit', {'id': activity.id}) }}">Modifier</a>
                                    {% else %}
                                        <a class="button" href="{{ path('activity_detail', {'id': activity.id}) }}">Afficher</a>
                                    {% endif %}

                                    {% if activity.state.label in [states['open'], states['closed']] %}
                                        {% if app.user == activity.organizer or is_granted('ROLE_ADMIN') %}
                                            <a class="button" href="{{ path('activity_cancel', {'id': activity.id}) }}">Annuler</a>
                                        {% elseif app.user in activity.participants %}
                                            <a class="button" href="{{ path('activity_unsubscribe', {'activityId': activity.id}) }}">Se désister</a>
                                        {% elseif activity.state.label == states['open'] %}
                                            <a class="button" href="{{ path('activity_subscription', {'activityId': activity.id}) }}">S'inscrire</a>
                                        {% endif %}
                                    {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="has-text-centered is-hidden-mobile">
                    <a href="{{ path('activity_add') }}" class="button is-info">Créer une activité</a>
                </div>

            </div>
        </div>

    </div>
{% endblock %}

{% block extraJs %}
    <script>
        const filtersContainer = document.getElementById('filters');
        const buttonFilters = document.getElementById('buttonFilters');

        document.addEventListener('DOMContentLoaded', () => {

            filtersContainer.style.display = 'none';

            buttonFilters.addEventListener('click', () => {

                filtersContainer.style.display = filtersContainer.style.display === 'none' ? '' : 'none';
            });
        });
    </script>
{% endblock %}