{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Show activities
{% endblock %}

{% block body %}

  <h1 class="is-size-1 has-text-centered my-5">Liste des activités</h1>

  <div class="content">

    <div class="columns mb-5">
      <div class="column is-size-4 has-text-centered">
        <p>Date du jour : {{ 'now' | date('j F Y') | format_date(locale='fr') }}</p>
      </div>
    </div>

    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">

          <table class="table is-striped is-fullwidth">
            <thead>
              <tr>
                <th><abbr title="Nom de la sortie">Nom</abbr></th>
                <th><abbr title="Date de la sortie">Date</abbr></th>
                <th>Clotûre</th>
                <th><abbr title="Nombre d'inscrits / places">Place</abbr></th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for activity in activities %}
              <tr>
                <td>{{ activity.name }}</td>
                <td>{{ activity.activityDate | date('j F Y') | format_date(locale='fr') }}</td>
                <td>{{  activity.subLimitDate | date('j F Y') | format_date(locale='fr') }}</td>
                <td>{{ activity.participants.count }} / {{ activity.placeLimit }}</td>
                <td>{{ activity.state.label }}</td>
                <td>{{ app.user in activity.participants ? 'Oui' : 'Non' }}</td>
                <td><a class="is-info" href="{{ path('participant_detail', {'id': activity.organizer.id}) }}">{{ activity.organizer.firstname }} {{ activity.organizer.lastname }}</a></td>
                <td>
                  {% if app.user == activity.organizer %}
                    <a href="{{ path('activity_edit', {'id': activity.id}) }}">Modifier</a>
                  {% else %}
                    <a class="is-info" href="{{ path('activity_detail', {'id': activity.id}) }}">Afficher</a>
                  {% endif%}

                  {% if activity.state.label in [states['open'], states['closed']] %}
                    {% if app.user == activity.organizer %}
                      <a>Annuler</a>
                    {% elseif app.user in activity.participants %}
                      <a href="{{ path('unsubscription', {'activityId': activity.id}) }}">Se désister</a>
                    {% else %}
                      <a href="{{ path('activity_subscription', {'activityId': activity.id}) }}">S'inscrire</a>
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          {% if is_granted('ROLE_ORGA') %}
          <div class="has-text-centered">
            <a href="{{ path('activity_add') }}" class="button is-info">Créer une activity</a>
          </div>
          {% endif %}
      </div>
    </div>
  </div>
{% endblock %}