{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Activity Management
{% endblock %}

{% block body %}
    <h1 class="is-size-1 has-text-centered my-5">Activités non-publiées</h1>

    <div class="content">

        <div class="columns mb-5">
            <div class="column is-size-4 has-text-centered">
                <p>Date du jour : {{ 'now' | date('j F Y') | format_date(locale='fr') }}</p>
            </div>
        </div>

        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">

                <table class="table is-striped is-fullwidth">
                    <thead>
                    <tr>
                        <th><abbr title="Nom de la sortie">Nom</abbr></th>
                        <th><abbr title="Date de la sortie">Date</abbr></th>
                        <th>Clotûre</th>
                        <th><abbr title="Nombre d'inscrits / places">Place</abbr></th>
                        <th>Etat</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for activity in activities %}
                        <tr>
                            <td>{{ activity.name }}</td>
                            <td>{{ activity.activityDate | date('j F Y') | format_date(locale='fr') }}</td>
                            <td>{{  activity.subLimitDate | date('j F Y') | format_date(locale='fr') }}</td>
                            <td>{{ activity.participants.count }} / {{ activity.placeLimit }}</td>
                            <td>{{ activity.state.label }}</td>
                            <td>
                                <div class="buttons">
                                    <a class="button" href="{{ path('activity_publish', {'activityId': activity.id}) }}">Publier</a>
                                    <a class="button" href="{{ path('activity_edit', {'id': activity.id}) }}">Modifier</a>
                                    <a class="button" href="{{ path('activity_cancel', {'id': activity.id}) }}">Annuler</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="has-text-centered">
                    <a href="{{ path('activity_add') }}" class="button is-info">Créer une activité</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

