{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Show parties
{% endblock %}

{% block body %}

<div class="content">

  <div class="column is-1 is-offset-11">
    <div class="content is-medium">
      <p>{{ date() | date('d/m/Y') }}</p>
      <p> {{ app.user.firstname }} {{ app.user.lastname }}</p>
    </div>
  </div>

  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
      <table class="table">
        <thead class="thead">
          <th scope="col">Nom de la sortie</th>
          <th scope="col">Date de la sortie</th>
          <th scope="col">Clotûre</th>
          <th scope="col">Inscrits/places</th>
          <th scope="col">Etat</th>
          <th scope="col">Inscrit</th>
          <th scope="col">Organisateur</th>
          <th scope="col">Actions</th>
        </thead>
        {% for sortie in sorties %}
        <tbody>
          <td> {{ sortie.name }} </td>
          <td> {{ sortie.startDate | date('Y-m-d')}} </td>
          <td> {{  sortie.subLimitDate | date('Y-m-d')}} </td>
          <td>  nombre de participant ?/ {{ sortie.maxSubscription }} </td>
          <td> {{ sortie.state.label }}</td>
          <td>  Inscrit ?</td>
          <td> {{ sortie.organizer.firstname }} {{ sortie.organizer.lastname }}</td>
          <td> S'inscrire  </td>
        </tbody>
        {% endfor %}
      </table>


      <button class="button is-info">
        <a href="{{ path('party_add') }}">Créer une sortie</a>
       </button>


    </div>
  </div>
</div>
{% endblock %}