<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir.com{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bulma-badge.min.css') }}">
        <script src="https://unpkg.com/feather-icons"></script>
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
{#        <link rel="stylesheet" href="{{ asset('css/app.css') }}">#}
    </head>
    <body>
        <header>
            {% include 'menu/nav.html.twig' %}
        </header>

        <main>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                <div class="columns">
                    <div class="column is-4 is-offset-8" style="position: absolute;">
                        <div class="notification is-{{ label }}">
                            <button class="delete"></button>
                            {{ message }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}

            {% block bodyTitle %}{% endblock %}

            {% block body %}{% endblock %}
        </main>

    {% block extraJs %}{% endblock %}
        <script>
            feather.replace()

            document.addEventListener('DOMContentLoaded', () => {
                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    const $notification = $delete.parentNode;

                    $delete.addEventListener('click', () => {
                        $notification.parentNode.removeChild($notification);
                    });
                });
            });
        </script>
    </body>
</html>
