<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir.com{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/icon.png') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bulma.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bulma-badge.min.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    </head>
    <body>
        <header>
            {% include 'menu/nav.html.twig' %}
        </header>

        <main>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                <div class="columns">
                    <div class="column is-4 is-offset-8" style="position: absolute;">
                        <div class="notification is-{{ label }}">
                            <button class="delete"></button>
                            {{ message }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}

            {% block bodyTitle %}{% endblock %}

            {% block body %}{% endblock %}
        </main>

        <footer>
            {% include('menu/footer.html.twig') %}
        </footer>

    {% block extraJs %}{% endblock %}
        <script>
            feather.replace()

            document.addEventListener('DOMContentLoaded', () => {
                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    const $notification = $delete.parentNode;

                    $delete.addEventListener('click', () => {
                        $notification.parentNode.removeChild($notification);
                    });
                });
            });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {

                const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

                $navbarBurgers.forEach( el => {

                    el.addEventListener('click', () => {

                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            });
        </script>
    </body>
</html>
