<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-size-4" href="#">
            Sortir.com
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">


        {% if app.user %}
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Sortie
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ path('party_add') }}">
                            Nouvelle
                        </a>
                        <a class="navbar-item" href="{{ path('party_list') }}">
                            Liste des sorties
                        </a>
                    </div>
                </div>

                <a class="navbar-item" href="{{ path('participant_profile') }}">
                    Profil
                </a>

                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-light" href="{{ path('app_logout') }}">
                                <span>Se déconnecter</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-light" href="{{ path('app_login') }}">
                                <span>Se connecter</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</nav>