<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-size-4" href="#">
            Sites.com
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">


        {% if app.user %}
            <div class="navbar-end">
                <a class="navbar-item" href="{{ path('party_add') }}">
                    Sortie
                </a>
                <a class="navbar-item" href="{{ path('participant_profile') }}">
                    Profil
                </a>
                <div class="navbar-item">
                        <a class="navbar-item" href="{{ path('app_logout') }}" title="Logout">Logout ({{ app.user.firstname | capitalize }})</a>
                </div>
            </div>
        {% else %}
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="navbar-item" href="{{ path('app_login') }}" title="Login">Login</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</nav>