<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-size-4" href="{{ path('activity_list') }}">
            Sortir.com
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">


        {% if app.user %}
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Activités
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ path('activity_add') }}">
                            Nouvelle
                        </a>
                        <a class="navbar-item" href="{{ path('activity_list') }}">
                            Liste des activités
                        </a>
                    </div>
                </div>

                {% if is_granted('ROLE_ADMIN') %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Administrateur
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ path('admin_add') }}">
                            Ajouter un participant
                        </a>
                        <a class="navbar-item" href="{{ path('admin_places') }}">
                            Gérer les lieux
                        </a>
                        <a class="navbar-item" href="{{ path('admin_sites') }}">
                            Gérer les sites
                        </a>
                    </div>
                </div>
                {%  endif %}

                <a class="navbar-item" href="{{ path('participant_profile') }}">
                    Profil
                </a>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-light" href="{{ path('app_logout') }}">
                                    <span>Se déconnecter ({{ app.user.pseudo }})</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-light" href="{{ path('app_login') }}">
                                <span>Se connecter</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</nav>