{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Profile
{% endblock %}

{% block body %}

    <h1 class="is-size-1 has-text-centered py-5">Modifier mon profil</h1>

    <div class="content">
        <div class="columns">
            <div class="column is-one-quarter">
                <div class="card-image is-flex is-justify-content-center">
                    <figure class="image is-256x256">
                        {% if asset_exists('images/profilePictures/' ~ app.user.id ~ '.jpg') %}
                            <img src="{{ asset('images/profilePictures/' ~ app.user.id ~ '.jpg') }}" alt="Image de profil">
                        {% else %}
                            <img src="{{ asset('images/profilePictures/default.jpg') }}" alt="Image de profil">
                        {% endif %}

                    </figure>
                </div>
            </div>
            <div class="column is-half">

                {{ form_start(participantForm) }}

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        {{ form_widget(participantForm.email, {'attr': {'class': 'input'}}) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Nom</label>
                    <div class="control">
                        {{ form_widget(participantForm.lastname, {'attr': {'class': 'input'}}) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Prénom</label>
                    <div class="control">
                        {{ form_widget(participantForm.firstname, {'attr': {'class': 'input'}}) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Pseudo</label>
                    <div class="control">
                        {{ form_widget(participantForm.pseudo, {'attr': {'class': 'input'}}) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Téléphone</label>
                    <div class="control">
                        {{ form_widget(participantForm.phone, {'attr': {'class': 'input'}}) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="site">Site</label>
                    <div class="select is-fullwidth" id="site">
                        {{ form_widget(participantForm.site, {'attr': {'class': 'select'}}) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Ma photo</label>
                    <div class="file">
                        <label class="file-label">
                            {{ form_widget(participantForm.profilePicture, {'attr': {'class': 'file-input'}}) }}
                            <span class="file-cta">
                              <span class="file-icon">
                                <i data-feather="upload"></i>
                              </span>
                              <span class="file-label">
                                Choisissez une image
                              </span>
                            </span>
                        </label>
                    </div>
                </div>

                <div class="py-5">
                    <article class="message is-info">
                        <div class="message-body">
                            Si vous souhaitez modifier votre mot de passe, saisissez votre nouveau mot de passe. Sinon, laissez les champs vides.
                        </div>
                    </article>
                </div>

                <div class="field">
                    <label class="label">Mot de passe</label>
                    <div class="control">
                        {{ form_widget(participantForm.plainPassword.first, {'attr': {'class': 'input'}}) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Confirmation du mot de passe</label>
                    <div class="control">
                        {{ form_widget(participantForm.plainPassword.second, {'attr': {'class': 'input'}}) }}
                    </div>
                </div>

                <div class="has-text-centered">
                    <button class="button is-info">Mettre à jour</button>
                </div>

                {{ form_end(participantForm) }}

            </div>
        </div>
    </div>


{% endblock %}